@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --fs-heading-1: 60px;
    --fs-heading-2: 40px;
    --fs-heading-3: 30px;
    --fs-heading-4: 20px;
    --fs-heading-5: 18px;
    --fs-m-heading-1: 43px;
    --fs-m-heading-2: 36px;
    --fs-m-heading-3: 26px;
    --fs-m-heading-4: 18px;
    --fs-m-heading-5: 16px;
    --grn-clr: #B9FF66;
    --blck-clr: #191A23;
    --wht-clr: #F3F3F3;
}

/* utility Classes */

.light-blck {
    color: var(--blck-clr);
    font-weight: 400;
}

.bold-blck {
    color: var(--blck-clr);
    font-weight: 500;
}

.btn {
    background-color: var(--blck-clr);
    color: var(--wht-clr);
    padding: 16px 24px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    letter-spacing: 1px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.mrg-btm-1 {
    margin-bottom: 20px;
}

.mrg-btm-2 {
    margin-bottom: 30px;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

/* Reset CSS */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', serif;
    font-size: 100%;
}

/* Main Styling */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    width: 14%;
}

.logo img {
    width: 100%;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.nav-links a {
    color: var(--blck-clr);
    font-size: var(--fs-heading-5);
}

.last-link {
    border: 1px solid var(--blck-clr);
    border-radius: 14px;
    padding: 14px 26px;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}

.hero-sec-left {
    width: 50%;
}

.hero-sec-left h1 {
    font-size: var(--fs-heading-1);
}

.hero-sec-left p {
    font-size: var(--fs-heading-4);
}

.hero-sec-left .btn {
    font-weight: var(--fs-heading-5);
}

.hero-sec-right {
    width: 40%;
}

.hero-sec-right img {
    width: 100%;
}

/* Company Section */

.company-section-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}

/* Services Section */

.services-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 60px;
}

.services-heading h2 {
    font-size: var(--fs-heading-2);
    background-color: var(--grn-clr);
    padding: 8px 16px;
    border-radius: 7px;
}

.services-txt p {
    width: 60%;
}

/* Services Card Section */

.services-card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}

.card {
    width: 44%;
    border: 1px solid var(--blck-clr);
    border-radius: 45px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-card {
    background-color: var(--wht-clr);
}

.right-card {
    background-color: var(--grn-clr);
    padding: 45px;
}

.left-sec {
    width: 55%;
}

.left-sec h3 {
    font-size: var(--fs-heading-3);
    border-radius: 7px;
    padding: 10px;
}

.left-card h3 {
    background-color: var(--grn-clr);
}

.right-card h3 {
    background-color: var(--wht-clr);
}

.button-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.right-sec {
    width: 40%;
}

.right-sec img {
    width: 100%;
}

/* Working Section */

.working-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 60px;
    margin: 60px auto;
}

.working-heading h2 {
    font-size: var(--fs-heading-2);
    background-color: var(--grn-clr);
    padding: 10px 18px;
    border-radius: 7px;
}

.working-txt p {
    width: 70%;
}

/* Accordian Section */

.accordian-section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.accordian-card {
    background-color: var(--wht-clr);
    border-radius: 45px;
    padding: 30px 50px 15px;
    border: 2px solid var(--blck-clr);
    cursor: pointer;
}

.visible-card-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visible-txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.visible-txt h1 {
    font-size: var(--fs-heading-1);
}

.visible-txt h3 {
    font-size: var(--fs-heading-3);
}

.hidden-horizontal-line {
    height: 3px;
    width: 100%;
    background-color: var(--blck-clr);
    border-radius: 4px;
    margin: 20px 0;
}

.hide-card-sec {
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
}

.hide-card-sec p {
    font-size: var(--fs-heading-5);
    padding-bottom: 14px;
}

.visible-icon .plus-icon img:nth-child(1) {
    visibility: hidden;
    opacity: 0;
}

#accordian-check:checked~.accordian-card1 {
    background-color: var(--grn-clr);
}

#accordian-check:checked~.accordian-card1 .plus-icon>img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

#accordian-check:checked~.accordian-card1 .plus-icon>img:nth-child(2) {
    display: none;
}

#accordian-check:checked~.accordian-card1>.hide-card-sec {
    height: 83px;
    visibility: visible;
    opacity: 1;
}

#accordian-check2:checked~.accordian-card2 {
    background-color: var(--grn-clr);
}

#accordian-check2:checked~.accordian-card2 .plus-icon>img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

#accordian-check2:checked~.accordian-card2 .plus-icon>img:nth-child(2) {
    display: none;
}

#accordian-check2:checked~.accordian-card2>.hide-card-sec {
    height: 83px;
    visibility: visible;
    opacity: 1;
}

#accordian-check3:checked~.accordian-card3 {
    background-color: var(--grn-clr);
}

#accordian-check3:checked~.accordian-card3 .plus-icon>img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

#accordian-check3:checked~.accordian-card3 .plus-icon>img:nth-child(2) {
    display: none;
}

#accordian-check3:checked~.accordian-card3>.hide-card-sec {
    height: 83px;
    visibility: visible;
    opacity: 1;
}

#accordian-check4:checked~.accordian-card4 {
    background-color: var(--grn-clr);
}

#accordian-check4:checked~.accordian-card4 .plus-icon>img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

#accordian-check4:checked~.accordian-card4 .plus-icon>img:nth-child(2) {
    display: none;
}

#accordian-check4:checked~.accordian-card4>.hide-card-sec {
    height: 83px;
    visibility: visible;
    opacity: 1;
}

#accordian-check5:checked~.accordian-card5 {
    background-color: var(--grn-clr);
}

#accordian-check5:checked~.accordian-card5 .plus-icon>img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

#accordian-check5:checked~.accordian-card5 .plus-icon>img:nth-child(2) {
    display: none;
}

#accordian-check5:checked~.accordian-card5>.hide-card-sec {
    height: 83px;
    visibility: visible;
    opacity: 1;
}

#accordian-check6:checked~.accordian-card6 {
    background-color: var(--grn-clr);
}

#accordian-check6:checked~.accordian-card6 .plus-icon>img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

#accordian-check6:checked~.accordian-card6 .plus-icon>img:nth-child(2) {
    display: none;
}

#accordian-check6:checked~.accordian-card6>.hide-card-sec {
    height: 83px;
    visibility: visible;
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
}

/* Contact Section */

.contact-section {
    margin: 60px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 40px;
}

.contact-heading h2 {
    font-size: var(--fs-heading-2);
    background-color: var(--grn-clr);
    padding: 10px 18px;
    border-radius: 7px;
}

.contact-txt p {
    width: 60%;
}

/* Contact Form Section */

.contact-form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--wht-clr);
    padding: 60px 0 60px 80px;
    border-radius: 45px;
    margin: 80px auto;
}

.form-left-section {
    width: 50%;
}

.form-right-section {
    width: 50%;
    overflow: hidden;
}

.form-right-section img {
    width: 100%;
    margin-left: 260px;
}

.radio-section {
    margin-bottom: 60px;
}

.radio-section>label {
    margin-right: 14px;
    font-size: var(--fs-heading-5);
}

input[type="radio"] {
    margin-right: 8px;
}

.block-label {
    display: block;
    margin-bottom: 8px;
}

form>input,
form>textarea {
    display: block;
    padding: 14px 18px;
    width: 100%;
    border: 1px solid #000000;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 30px;
}

form>textarea {
    margin-bottom: 50px;
}

/* Footer */

.footer-content {
    background-color: var(--blck-clr);
    padding: 60px 80px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.top-footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 16%;
}

.logo-footer img {
    width: 100%;
}

.nav-links-footer ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav-links-footer a {
    font-size: var(--fs-heading-5);
    color: var(--wht-clr);
    text-decoration: underline solid;
}

.icons-footer {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.icons-footer img {
    cursor: pointer;
}

.second-footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-left-sec {
    width: 40%;
}

.second-left-sec div {
    color: var(--wht-clr);
    font-size: var(--fs-heading-5);
}

.second-left-sec h4 {
    font-size: var(--fs-heading-4);
    color: var(--blck-clr);
    background-color: var(--grn-clr);
    display: inline-block;
    padding: 0 7px;
    border-radius: 7px;
}

.address {
    width: 80%;
    line-height: 24px;
}

.second-right-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 50px 20px;
    background-color: #292A32;
    border-radius: 14px;
}

.second-right-sec input {
    width: 48%;
    padding: 20px 28px;
    border-radius: 14px;
    font-size: 16px;
}

.second-right-sec input:nth-child(1) {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.second-right-sec input:nth-child(1):focus {
    outline: none;
}

.second-right-sec input:nth-child(2) {
    border: none;
    background-color: var(--grn-clr);
    color: var(--blck-clr);
}

.footer-horizontal-line {
    height: 2px;
    width: 100%;
    background-color: var(--wht-clr);
    border-radius: 4px;
    margin: 40px 0;
}

.footer-last-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 40px;
    color: var(--wht-clr);
}

.footer-last-content div:nth-child(2) {
    text-decoration: underline solid;
}

.menu,
.hamburger-nav-links {
    display: none;
}

.mobile-footer-section-content {
    display: none;
}

.mobile-footer-sec {
    background-color: var(--blck-clr);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 50px 20px;
    text-align: center;
}

.mobile-footer-sec ul {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 15px;
}

.mobile-footer-sec ul a {
    color: var(--wht-clr);
    text-decoration: none;
    font-size: var(--fs-heading-5);
}

.footer-grn-heading {
    padding: 7px;
    border-radius: 7px;
    background-color: var(--grn-clr);
    width: 50%;
    margin: 30px auto;
    font-size: var(--fs-heading-5);
}

.mobile-email {
    color: var(--wht-clr);
    font-size: var(--fs-heading-5);
}

.mobile-number {
    color: var(--wht-clr);
    font-size: var(--fs-heading-5);
}

.mobile-address {
    width: 100%;
    margin: 20px auto 30px;
    color: var(--wht-clr);
    font-size: var(--fs-heading-5);
}

.mobile-chnge-clr-sec {
    padding: 30px;
    border-radius: 14px;
    background-color: #292A32;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.mobile-chnge-clr-sec input {
    padding: 20px 25px;
    width: 80%;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: var(--fs-heading-4);
    color: white;
}

.mobile-chnge-clr-sec input:nth-child(1) {
    background-color: transparent;
    border: 1px solid white;
}

.mobile-chnge-clr-sec input:nth-child(2) {
    background-color: var(--grn-clr);
    color: var(--blck-clr);
}

.mobile-icon-sec {
    margin: 60px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.mobile-icon-sec img {
    width: 40px;
}

.mobile-footer-horizontal-line {
    margin: 20px 0 40px;
    height: 2px;
    background-color: white;
    border-radius: 6px;
}

.mobile-footer-content-top {
    color: var(--wht-clr);
    font-size: var(--fs-heading-4);
}

.mobile-footer-content-bottom {
    color: var(--wht-clr);
    font-size: var(--fs-heading-4);
}

@media (max-width: 1220px) {
    .last-link {
        padding: 12px 18px;
    }

    .hero-sec-left h1 {
        font-size: var(--fs-heading-2);
    }

    .hero-sec-left p {
        font-weight: var(--fs-heading-5);
    }

    .card {
        width: 48%;
    }

    .left-sec h3 {
        font-size: 24px;
    }

    .accordian-card {
        padding: 20px 50px 12px;
    }

    .form-right-section img {
        margin-left: 230px;
    }

    .second-right-sec {
        width: 60%;
    }

    .contact-form-section {
        padding-left: 40px;
    }

    .nav-links-footer a {
        font-size: 16px;
    }

    .icons-footer {
        column-gap: 10px;
    }

    .services-heading h2,
    .working-heading h2,
    .contact-heading h2 {
        font-size: var(--fs-heading-3);
    }
}

@media (max-width: 992px) {
    .logo {
        width: 20%
    }

    .nav-links {
        display: none
    }

    .menu {
        height: 35px;
        width: 40px;
        position: relative;
        display: block;
        z-index: 99;
        cursor: pointer;
    }

    .menu>.line {
        height: 6px;
        width: 100%;
        background-color: var(--blck-clr);
        position: absolute;
        border-radius: 6px;
    }

    .menu>.top {
        top: 2px;
        transform-origin: top left;
        transition: all .2s ease-in-out;
    }

    .menu>.middle {
        top: 12px;
        transition: all .2s ease-in-out;
    }

    .menu>.bottom {
        top: 22px;
        transform-origin: top left;
        transition: all .2s ease-in-out;
    }

    #hamburger-check:checked~.menu>.middle {
        opacity: 0;
    }

    #hamburger-check:checked~.menu>.top {
        transform: rotate(45deg);
        left: 5px;
    }

    #hamburger-check:checked~.menu>.bottom {
        transform: rotate(-45deg);
        top: 29px;
        left: 1px;
    }

    .hamburger-nav-links {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        right: -100%;
        transition: all .3s ease-in-out;
        display: block;
    }

    .hamburger-nav-links ul {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.616);
        backdrop-filter: blur(6px);
        z-index: 97;
        row-gap: 30px;
    }

    .hamburger-nav-links a {
        color: var(--blck-clr);
        font-size: var(--fs-heading-4);
        font-weight: 600;
    }

    #hamburger-check:checked~.hamburger-nav-links {
        right: 0;
    }

    .logo {
        position: relative;
        z-index: 98;
    }

    .hero-section {
        margin: 90px auto;
    }

    .hero-sec-left h1 {
        font-size: var(--fs-heading-3);
    }

    .hero-sec-left p {
        font-size: 16px;
    }

    .company-section-logos {
        flex-wrap: wrap;
        column-gap: 80px;
        row-gap: 40px;
        justify-content: space-evenly;
    }

    .services-section {
        column-gap: 30px;
    }

    .services-heading h2 {
        font-size: var(--fs-heading-4);
    }

    .services-txt p {
        width: 100%;
    }

    .card {
        padding: 20px;
    }

    .left-sec h3 {
        font-size: var(--fs-heading-4);
    }

    .working-section {
        column-gap: 30px;
    }

    .working-heading h2 {
        font-size: var(--fs-heading-4);
    }

    .working-txt p {
        width: 100%;
    }

    .visible-txt h1 {
        font-size: var(--fs-heading-3);
    }

    .visible-txt h3 {
        font-size: var(--fs-heading-4);
    }

    .accordian-card {
        padding-top: 30px;
    }

    .hide-card-sec p {
        font-size: 14px;
    }

    .form-right-section img {
        margin-left: 170px;
    }

    .contact-heading h2 {
        font-size: var(--fs-heading-4);
    }

    .contact-txt p {
        width: 100%;
    }

    .footer-content {
        display: none;
    }

    .mobile-footer-section-content {
        display: block;
    }
}

@media (max-width: 768px) {}